site_name: TechHulp Voorne
site_url: https://techhulpvoorne.nl
theme:
  name: material
  custom_dir: material/overrides
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.tabs
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
  font:
    text: Roboto
    code: Roboto Mono
extra:
  social:
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/skirvdj/
    - icon: fontawesome/brands/discord
      link: https://discord.com/users/665254531361275917
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/skir.vanderjagt
nav:
  - Home: index.md
  - Diensten: diensten.md
  - Tarieven: tarieven.md
  - Afspraak maken: afspraak.md
  - Over mij: over-mij.md
  - Contact: contact.md
